---
title: "About | LMH"
description: "Meta description for the page"
permalink: "/about/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="preload" as="image" href="{% getUrl "/assets/images/cabinets.jpg" | resize({ width: 482, height: 536 }) | avif %}"/>
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}


  <!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1278">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/lhdevshot.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/lhdevshot.webp">
            <img loading="lazy" decoding="async" src="/assets/images/lhdevshot.webp" alt="construction" width="738" height="598">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Company</span>
                <h2 class="cs-title">About Us</h2>
            </div>
            <p class="cs-text">
                At LMH Web Solutions, we specialize in creating custom websites for small local businesses. Our mission is to help businesses establish a strong online presence with affordable, high-quality web design and development services. We understand the unique challenges that small businesses face, and we are dedicated to providing personalized solutions that meet their specific needs.
            </p>
            <a href="" class="cs-button-solid">Learn More</a>
        </div>
    </div>
</section>
                                
                                
<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-1466">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/ApexPhotos.webp">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/ApexPhotos.webp">
            <img loading="lazy" decoding="async" src="/assets/images/ApexPhotos.webp" alt="body shop" width="522" height="609" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Asked Questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How long will it take to build my website?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        The timeline for building a website can vary depending on the complexity and specific requirements of the project. However, for a standard small business website, it typically takes around 5 to 10 days from the initial consultation to the final launch. This includes time for design, development, revisions, and testing to ensure everything is functioning properly.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Will I be able to use my own domain name?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes, you can use your own domain name for your website. If you already have a domain name registered, we can help you connect it to your new website. If you don't have one yet, we can assist you in registering a new domain name that suits your business.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What is SEO?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        SEO stands for Search Engine Optimization. It is the practice of optimizing your website and its content to improve its visibility and ranking on search engine results pages. The goal of SEO is to increase organic (non-paid) traffic to your website by making it more attractive to search engines like Google, Bing, and Yahoo.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do I get access to the code after it's built?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        No, the code is proprietary and remains the property of LMH Web Solutions. However, we provide you with full access to your website through a user-friendly content management system (CMS) that allows you to update and manage your blogs easily without needing to access the underlying code.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do you create eCommerce websites?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        No, currently we do not offer eCommerce website development services. Our focus is on creating high-quality, customized websites for small local businesses that need a strong online presence without the complexities of eCommerce functionality.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What if I need help after my website is live?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We offer ongoing maintenance and support packages to help you keep your website up-to-date and running smoothly. Whether you need help with updates, security, or general questions, we are here to assist you.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Can you mach my existing branding?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Of course! We can work with your existing branding elements, such as logos, color schemes, and fonts, to ensure that your new website aligns with your brand identity. If you don't have established branding, we can also help create a cohesive look and feel for your website that reflects your business values and goals.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
    {% include 'sections/cta.html' %}


    <script>
        const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
            item.classList.toggle('active')
        }
        item.addEventListener('click', onClick)
        }
                                
    </script>
{% endblock %}